<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      
      <class name="Practice01.EX01"/>
      <class name="Practice01.Practice02"/>
      <class name="Practice02.PostMethod"/>
      <class name="Practice02.GetMethod"/>
      <class name="Practice01.GetAndPost"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
